---
layout: default
---

<div class="home">

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-container">
      <img class="profile-img floating-img" src="{{ site.baseurl }}/assets/images/profile.jpg" alt="Vishal Sathambakkam" />
      <div class="hero-text">
        <h1>
          Heyyo! My name is Vishal, <br />
          <span class="typed-text"></span><span class="cursor">|</span>
        </h1>
      </div>
    </div>
  </section>

  <!-- About Me -->
  <section class="about">
    <h2>About Me</h2>
    <p>
      I'm a Computer Science student at the University of Washington and a software engineer with hands-on experience in full-stack web development, generative AI, and scalable backend systems.
    </p>
    <a href="{{ site.baseurl }}/about/" class="btn">Read More →</a>
  </section>

  <!-- Educattion -->
  <section class="Education">
    <h2>Education</h2>
    <p>
      I'm a Computer Science student at the University of Washington and a software engineer with hands-on experience in full-stack web development, generative AI, and scalable backend systems.
    </p>
    <a href="{{ site.baseurl }}/about/" class="btn">Read More →</a>
  </section>

  <!-- Experience Section -->
  <section class="experience">
    <h2>Experience</h2>
    <ul>
      {% for role in site.data.experience %}
        <li>
          <h3>{{ role.title }} @ {{ role.company }}</h3>
          <small>{{ role.location }} — {{ role.dates }}</small>
          <p>{{ role.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>

  <!-- Project Preview -->
  <section class="projects">
    <h2>Featured Projects</h2>
    <ul>
      {% for project in site.data.projects limit:2 %}
        <li>
          <strong><a href="{{ project.url }}">{{ project.name }}</a></strong><br />
          <span>{{ project.description }}</span>
        </li>
      {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/projects/" class="btn">See All Projects →</a>
  </section>

  <section class="skills">
    <h2>Featured Skills</h2>
    <a href="{{ site.baseurl }}/projects/" class="btn">See All Projects →</a>
  </section>


</div>
