<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <nav id="scroll-navbar" class="scroll-navbar hidden">
      <ul>
        <li><a href="#about">About Me</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
      </ul>
    </nav>

    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const textArray = ["a computer science student.", "a full stack developer.", "an amateur home cook."];
        const typingDelay = 100;
        const erasingDelay = 50;
        const newTextDelay = 1500;
        let textIndex = 0;
        let charIndex = 0;
    
        const typedText = document.querySelector(".typed-text");
        const cursor = document.querySelector(".cursor");
    
        function type() {
          if (charIndex < textArray[textIndex].length) {
            if (!cursor.classList.contains("typing")) cursor.classList.add("typing");
            typedText.textContent += textArray[textIndex].charAt(charIndex);
            charIndex++;
            setTimeout(type, typingDelay);
          } else {
            cursor.classList.remove("typing");
            setTimeout(erase, newTextDelay);
          }
        }
    
        function erase() {
          if (charIndex > 0) {
            if (!cursor.classList.contains("typing")) cursor.classList.add("typing");
            typedText.textContent = textArray[textIndex].substring(0, charIndex - 1);
            charIndex--;
            setTimeout(erase, erasingDelay);
          } else {
            cursor.classList.remove("typing");
            textIndex++;
            if (textIndex >= textArray.length) textIndex = 0;
            setTimeout(type, typingDelay + 500);
          }
        }
    
        setTimeout(type, 1000);
      });
      </script>

  <script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("scroll-navbar");
    let lastScrollTop = 0;

    window.addEventListener("scroll", () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > 100) {
        navbar.classList.remove("hidden");
      } else {
        navbar.classList.add("hidden");
      }

      lastScrollTop = scrollTop;
    });
  });
  </script>
  </body>
</html>
